#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap  {
    padding-bottom: 40px;
}

#what-am-i  {
    background-color: lavender;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.imagecent  {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
}

#ribbon {
    max-width: 100vw;
}

#marquee  {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: x-large;
}

footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
    padding-bottom: 6px;
    background-color: mediumaquamarine;
}

#footer-icon {
    max-width: 5%;
}